* {
    font-family: arial,sans-serif !important;   
}
a:hover { 
    text-decoration: underline; 
}
.top_nav_links{
    color: rgba(0,0,0,.87) !important;
    font-size: 15px !important;
}
.sign_in_button{
    width: 103px;
}
.sign_in_button:hover{
    background: #3b86e7;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.24) ;
    border-color: #3b86e7;
}
.dots_icon_div:hover{
    width: 42px;
    height: 42px;
    background-color: rgba(218,220,224,.5);
    border-radius: 50%; 
}
.dots_icon_div{
    position: relative;
    margin-top: 0px;
    margin-right: 17px;
    margin-left: 20px; 
    padding: 2px;
    width: 42px;
    height: 42px;
    border-radius: 50%; 
}
.dots_icon{
    position: absolute;
    width: 25px;
    top: 9px;
    right: 7.5px;
}
.google_logo{
    width:270px;
}

/*buttons in the middle of the page*/
.middle_button{
    margin-left: 6px;
    font-size: 14px !important;
    color: #3c4043 !important;
}
.middle_button:hover{
    border: 1px solid #e7e7e7 !important;
    background-color: #f8f9fa !important;
}
/*search bar*/
.search_div{
    margin-top: 12px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 9px;
    max-width: 565px;
    border-radius: 20px !important;
    outline: none;
    width: 530px;
    height: 43px;
    border-radius: 24px;
    border: 1px solid #dfe1e5;
    z-index: 1;
}
.search_div:hover{
    background-color: #fff;
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    border-color: #dfe1e5;
}
.search_input{
    border: none !important;
    outline: none;
    right: 10%;
    height: 100%;
    position: absolute;
    left: 10%;
    z-index: 2;
}
.microphone_button{
    background: url(microphone.png) no-repeat center; 
    background-size: 21px 21px;
    border: none;
    height: 100%;
    position: absolute;
    right: 3%;
    width: 25px;
    z-index: 3;
}
.search_icon{
    border: none !important;
    background-color:transparent !important;
    height: 100%;
    position: absolute;
    left: 1%;
    z-index: 3;
    padding-top: 7px;   
}

/*languages*/
.lang_div{
    color: #70757a;
    font-size: 13px;
    text-align: center;
}
.lang_link{
    padding-left: 2px;
    color: #1a0dab;
}
.lang_link:link{
    text-decoration: none;
}

/*additions for the search page*/

.google_logo_search_page{
    width:100%;   
}
.google_logo_search_page_div{
    max-width: 92px;
    margin-left: 7%;
    margin-top: 0%;
}
.nav_bar_search_page_div{
    margin-top: 2%;
}
.nav_bar_search_page_div ul{
    margin-right: 3%;
}
.search-input_search_page{
    outline: none;
    right: 30%;
    height: 100%;
    position: absolute;
    left: 3%;
    z-index: 2;
}

/*the flex itself*/
.bottom{
    padding-right: 20px;
    padding-left: 20px;     
}
.right{ 
    color: #70757a;
    font-size: 14px;
    font-family: arial,sans-serif;
    padding: 15px;
}
.left{ 
    color: #70757a;
    font-size: 14px;
    font-family: arial,sans-serif; 
    padding: 15px;    
}
.grey_link{
    color: #70757a;
    padding-right: 15px; /*sets the spaces between the links*/
    padding-left: 15px;
    text-decoration: none;
}
.grey_link:hover{
    color: #70757a;
    
}
.country{
    padding: 15px 48px;
    border-bottom: 1px solid #dadce0 ;
    font-size: 15px;
    color: #70757a;
    text-align: left;
}
footer{
    background: #f2f2f2 !important;
    text-align: center;
}