* {
    font-family: arial,sans-serif !important;   
}
hr {
    margin: -0.5rem 0 !important;
}
.people_also_asked_title{
    position:relative;
    height: 37px;
    margin-bottom: 5px;
}
.people_also_asked_title span{
    position: absolute;
    margin-left: 18px;
    margin-top: 3px;
}
.people_also_asked_h4{
    float: left;
}
.accordion{
    font-size: 18px !important;
    line-height: 24px !important; 
    width: 693px;
    outline:none !important;
    box-shadow: none !important;
}
.accordion-item{
    border-left: none !important;
    border-right: none !important;
}
.accordion-button:not(.collapsed) {
    color: #000000 !important;
    background-color: #fff !important;
    box-shadow: none !important;
    outline: none !important;
}
.accordion-button:focus {
    border-color: #000000;
    outline: 0;
    box-shadow: none !important;
}
.accordion-button::after {
    background-image: url(downIcon.png) !important;
}
.accordion-button:not(.collapsed)::after {
    background-image: url(downIcon.png) !important;
    transform: rotate(-180deg) !important;
}
#last_accordion_item{
    border-bottom: none !important;
}
.accordion_line{
    width: 611px;
    height: 10px;
    border-top:2px solid #dadce0;
    float: left
}
.accordion_line_link {
    position: relative;
    bottom: 12px;
    text-decoration: none;
    z-index: 20;
    margin-left: 19px;
    color: #70757a;
    font-size: 14px;
}
.accordion_line_link:hover{
    color: #70757a;
}
.down_icon_btn{
    border-color: transparent !important;
    font-size: 11px !important;
}
.down_icon_btn:hover{
    border-color: transparent !important;
}
.accordion_grey_url{
    margin-top: 20px;
    font-size: 14px;
    color: #202124;
}
.accordion_link:hover .accordion_blue_url_span{
        text-decoration: underline !important;
}
.accordion_link{
    text-decoration: none !important;
}
a:hover { 
    text-decoration: underline; 
}
.top_nav_links{
    color: rgba(0,0,0,.87) !important;
    font-size: 15px !important;
}
.all_navbars_in_top{
    background-color: #fff;
    border: none;
}
.navbar_top_first {
    width: 100%;
    height: 80px;
    top: 0px;
    position: fixed !important;
    z-index: 1000;
}
.navbar_top_first_div{
    margin-top: 0% !important;
}
.navbar_top_second {
    position: absolute;
    margin-top: 98px;
    height: 60px !important;
    margin-left: 6%;
    margin-bottom: 0% !important;
}
.navbar_top_second_div{
    margin-top: 0% !important;
    height: 100%;
}
.navbar_top_second div ul li a{
    color: #5f6368 !important;
    text-decoration: none;
    font-size: 16px !important;
} 
/*sign in button*/
.sign_in_button{
    width: 103px;
}
.sign_in_button:hover{
    background: #3b86e7;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.24) ;
    border-color: #3b86e7;
}
.setting_div{
    position: relative;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 20px; 
    padding: 2px;
    width: 42px;
    height: 42px;
    border-radius: 50%;
}
.setting_div:hover{
    width: 42px;
    height: 42px;
    background-color: rgba(218,220,224,.5);
    border-radius: 50%; 
}
.setting_icon{
    position: absolute;
    width: 25px;
    top:9px;
    right:9px;
}
.dots_icon_div{
    position: relative;
    margin-top: 0px;
    margin-right: 15px;
    margin-left: 10px; 
    padding: 2px;
    width: 42px;
    height: 42px;
    border-radius: 50%; 
}
.dots_icon_div:hover{
    width: 42px;
    height: 42px;
    background-color: rgba(218,220,224,.5);
    border-radius: 50%; 
}
.dots_icon{
    position: absolute;
    width: 25px;
    top:9px;
    right: 9px;
}
.google_logo{
    width:100%;   
}
.google_logo_div {
    max-width: 102px;
    margin-left: 7.2%;
    margin-top: 1.2%;
}
/*search bar*/
.text-center {
    text-align: center!important;
}
.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}
.search_div {
    margin-top: 12px;
    margin-left: 33px;
    margin-bottom: 0px;
    max-width: 565px;
    outline: none;
    width: 530px;
    height: 53px;
    border-radius: 61px !important;
    border: 1px solid #dfe1e5;
    box-shadow: 1px 3px 8px 0px rgb(124 128 139 / 26%);
    z-index: 1;
}
.search_div:hover{
    background-color: #fff;
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    border-color: #dfe1e5;
}
.search-input {
    border: none !important;
    outline: none;
    right: 30%;
    height: 98%;
    position: absolute;
    left: 3%;
    z-index: 2;
    border-radius: 63px;
}
.cancle_button{
    border: none !important;
    background-color:transparent !important;
    border-radius: 0% !important;
    border-right: 1px solid #dadce0 !important;
    padding-right: 15px;
    padding-top: 5px;
}

.cancle_icon{
    border: none !important;
    background-color:transparent !important;
    position: absolute;
    right: 17%;
    z-index: 3;
    margin-top: 3px;
    -webkit-text-stroke: 1px; 
}

.microphone_icon{
    background: url(microphone.png) no-repeat center; 
    position: absolute;
    background-size: 21px 21px;
    border: none;
    height: 100%;
    right: 10%;
    width: 25px;
    z-index: 3;
}
.image_icon{
    height: 20px;  
}
.search_icon {
    border: none !important;
    background-color: transparent !important;
    height: 100%;
    position: absolute;
    right: 1.7%;
    z-index: 3;
    padding-top: 7px;
    -webkit-text-stroke: 1px;
}
#all_link{
    color: #007bff !important;
}
#li_all{
    border-bottom: 4px solid #007bff;
}
.p1{
    color:  #70757a;
}
.p2{
    font-weight: normal;
    font-size: small;
    line-height: 1.58;
    max-width: 540px;
}
.main_content{
    margin-left: 7.5%;
    margin-top: 15px;
}
.main_content div a{
    font-size: 20px;
    text-decoration: none;
    color: #1a0dab;
}
.main_content div a:hover{
    text-decoration: underline;
}
.add_tab{
    margin-left: 1%;
}
.for_more_result_a{
    font-size: small !important;
}
.tools_button{
    margin-left: 177px; /*space between the buttons*/
    font-size: 15px;
    margin-top: 4px;
    border: none;
    background-color: transparent;
    color: #3c4043;
    font-family: Google Sans,arial,sans-serif;
    width: 58px;
    height: 30px;
    text-align: center;
}
.tools_button:hover{
    border: 1px solid #e7e7e7;
    background-color: #f8f9fa !important;
    border-radius: 2px;
    color: black !important;
}
.logo_start_span{
    background: url(googleLogoG.png) no-repeat;
    overflow: hidden !important;
    display: block;
    height: 45px;
    background-size: 30px !important;
}
.logo_midlle_red_span{
    background: url(googleLogoORed.png) no-repeat;
    overflow: hidden !important;
    display: block;
    height: 40px;
    background-size: 20px !important;
}
.logo_midlle_yellow_span{
    background: url(googleLogoOYellow.png) no-repeat;
    overflow: hidden !important;
    display: block;
    height: 40px;
    background-size: 20px !important;
}
.logo_end_span{
    background: url(googleLogoEnd.png) no-repeat;
    overflow: hidden !important;
    display: block;
    height: 47px;
    background-size: 47px !important;
}
.google_footer_logo{
    width: auto;
    height: 80px;
    margin-top: 50px;
    margin-bottom: 25px;  
}
.google_footer_table{
    margin-left: 20%;
}
.td_start{
    padding-bottom: 29px;
    height: 50px;
    width:33px;
}
.td_middle{
    padding-top: 10px;
    height: 40px;
    width:22px;
    font-size: 14px;
    text-align: center;
}
.td_end{
    padding-bottom: 27.3px;
    height: 40px;
    width:60px;
}
.td_next{
    padding-top: 7px;
    height: 40px;
    width: 30px;
    font-size: 14px;
}
.google_footer_logo table tr td a{
    text-align: center;
    text-decoration: none;
}
.google_footer_logo table tr td a:hover{
    text-decoration: underline;
}
.first_link_num{
    color: black;
}
.first_link_num:hover{
    text-decoration: none !important;
    color: black !important;
}
.next_icon{
    text-decoration: none;   
    -webkit-text-stroke: 1px;
}
.related_searches_div{
    margin-top: 50px;
    margin-left: 120px;
}
.related_searches_3dots{
    font-size: medium;
}

.related_searches_table_data_divs{
    width: 330px;
    height: 55px;
    background-color: rgba(218,220,224,.5) !important;
    border-radius: 33px;
    margin-bottom: 4px;
    padding-top: 16.5px !important;
    padding-left: 80px !important;
}
.a_related_searches{
    text-decoration: none !important;
    color: black;  
    font-size: 16px !important;
}
.a_related_searches:hover{
    color: black !important;
    text-decoration: underline !important;
}
.search_icon_div_related_searches{
    width: 5px;
    height: 5px;
    margin-left: 40px;
    position: absolute !important;
    margin-top: 16.5px;
    z-index: 100 !important;
}
.search_icon_related_searches{
    margin-right: 5px;
    padding-right: 5px;
    -webkit-text-stroke: 0.7px; 
}
.footer{
    background: #f2f2f2;
    text-align: center;
    position: absolute;
    right: 0%;
    left: 0%; 
    margin-top: 20px; 
}
.grey_link{
    color: #70757a;
    font-family: arial,sans-serif ;
    text-decoration: none;
    font-size: 14px !important;
    padding-left: 15px;
    padding-right: 15px;
    
}
.grey_link:hover{
    color: #404142;
    text-decoration: none !important;
}
.place{
    color: #70757a;
    text-align: left;
    font-size: 14px ;
    
    margin-left: 7.5%;    
}
.country{
    padding: 15px;
    padding-bottom: 9px;       
}
.middle_line{
   
    line-height: 30px;
    border-left: 1px solid #dadce0;    
}
.location{  
    color: #4d5156;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;   
}
.address_link{
    font-size: 14px !important;
    text-decoration: none !important;
    color: #1a0dab !important;
    margin-top: 10px;  
}
.hyphen{
    color: #70757a;
}
.top_border{
    border-top: 1px solid #dadce0;
}
.bottom{
    margin-left: 7.5%;
    padding-bottom: 20px;
    padding-top: 10px;
}
.loc_dot{
    color: #70757a;;
    font-size: 10px;
    padding-left: 15px; 
    vertical-align: middle;
}